

#playlistContainer {
    margin-top: 80px;
}

#player {
    float: left;
    padding-right: 15px;
    font-size: x-large;
}

li {
    list-style: none;
    display: inline-block;
    margin: 3px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
}

span.ui-icon {
    float: left;
    margin: 0 4px;
}

#icons {
    margin: 0;
    padding: 0;
}

#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}

#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}

.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}

select {
    width: 200px;
}
