/*.searchBox {
    margin-top: 200px;
    text-align: center;
    border-radius: 12px;
    border-width: 2px;
    border-color: #9eff6e;
    color: #0fdbdb;
    border-style: hidden;
    box-shadow: inset -1px 2px 6px 0px rgba(20, 110, 48, .75);
    font-size: 25px;
    padding: 8px;
    font-family: Century Gothic, sans-serif;
    width: 50%;
}*/

.searchBox:focus {
    outline: none;
}