body {
    font-size: larger;
    font-family: "Helvetica Neue", helvetica, georgia, "times new roman", "Arial Rounded MT Bold", helvetica, verdana, tahoma, arial, "sans serif";
}

:focus {
    outline: none;
}
.navbar{
    height: 75px;
}
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#searchListContainer{
    margin-top: 80px;
    width: 30%;
    padding: 8px;
    margin-left: 32px;
    height: 70px;
}

#likes{
    width: 100%;
    padding:15px;
    font : inherit;
    color: inherit;
    text-align: inherit;
    outline: none;
    cursor: text;
}

.ui-menu-item {
    /*padding: 3px;*/
    line-height: 1.2;
    /*position: static;
    float: left;*/
    width: 230px;
    word-wrap: normal;

    margin-left: 22px;
}


.ui-autocomplete{
    -webkit-column-gap: 20px;
    -webkit-column-rule-width: 1px;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-color: #000;

    display: block;
    width: 492px;
    position: relative;
    top: -20px;
    left: 33px !important;

    /*border-right-style: dotted;
    border-left-style: dotted;
    border-bottom-style: dotted;*/
    /*border-width: 1px;
    margin-left: 55px;*/
    padding: 0;
    text-align: -webkit-left;
}

.scrollWrapper {
    height: auto;
    position: absolute;
    margin-top: 2px;
    margin-left: auto;
    padding: 5px;
    z-index: 100000;
    /*-webkit-box-shadow: rgb(0, 0, 0) 3px 9px 13px -9px;*/
    -webkit-box-shadow: 0 0 10px 2px rgba(12, 178, 171, 0.4);
    border-radius: 10px;
    bottom: -45px;
    left: -40px;
    width: 400px;
    background: -webkit-linear-gradient(top, rgb(176, 212, 227) 0%, rgb(136, 186, 207) 100%);
    border-bottom-style: groove;
    border-left: 2px groove;
}

.scrollMarquee {
    position: relative;
}

img.artwork {
    display: inline-block;
    visibility: visible;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.playback-ctrls{
    /* margin-left: 85px; */
    /* margin-left: 85px; */
    display: inline;
    -webkit-padding-start: 0px;
    position: absolute;
    /* bottom: 15px; */
    left: 4px;
    background-color: black;
    border-radius: 115px;
    height: 26px;
    width: 26px;
    top: 10px;
    opacity: 0.6;
}

.evenPair{
    /*border-top: dotted 1px;
    border-bottom: dotted 1px;*/
    -webkit-box-shadow: 3px 3px 34px -9px rgba(0,0,0,0.75);
}
.ui-menu-item:hover{
    -webkit-box-shadow: inset 3px 3px 3px -9px;
}

.soundProgress{
    /*display: inline-block;
    width: 70%;
    margin-left: 5px;*/

    display: inline;
    position: absolute;
    top: 60px;
    left: 103px;
    width: 69%;
}

.timer, {
    left: 5px;
    position: absolute;
}

.duration{
    right: 5px;
    position: absolute;
    top: 0;
}

.sound-title{
    position: absolute;
    top: 0;
    display: initial;
}

.slider{
    display: none;
}

li.subMenu.play {
    left: 5px;
    top: -1px;
    color: yellow;
}