.meta-container {
    overflow: auto;
    list-style-type: none;
    display: table
}

.meta-item {
    vertical-align: middle;
    display: table-cell;

    height: 15px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #aaa;
    padding: 0 20px;
    text-decoration: none;
    color: #ccc;
    font: 10px/1 Helvetica, Verdana, sans-serif;
    text-transform: capitalize;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

li:last-child {
    border-right: none;
}

li {

}

li:hover {
    color: #666;
}

li.active {
    font-weight: bold;
    color: #333;
}