#spinnerG {
    width: 292px;
    position: fixed; /* or absolute */
    top: 10%;
    right: 0;
}
 #loadingProgress{
    width: 292px;
    position: fixed; /* or absolute */
    top: 10%;
    right: 0;
}
.spinner_blockG {
    background-color: #A8A8A8;
    border: 7px solid #BBE077;
    float: left;
    height: 208px;
    margin-left: 17px;
    width: 55px;
    opacity: 0.1;
    -webkit-animation-name: bounceG;
    -webkit-animation-duration: 1.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-transform: scale(0.7);
}

#blockG_1 {
    -webkit-animation-delay: 0.39s;
}

#blockG_2 {
    -webkit-animation-delay: 0.52s;
}

#blockG_3 {
    -webkit-animation-delay: 0.65s;
}

@-webkit-keyframes bounceG {
    0% {
        -webkit-transform: scale(1.2);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(0.7);
        opacity: 0.1
    }
}